:root{
    --off-black : #18191b;
    --off-white : #efefef;
    --body-black : #24262b;
    --dark-blue : #090422;
    --magic-green : #003121;
    --black : #000;
    --primary-green : #44d2a2;
}
.intro{
    position: relative;
    height: 90vh;
}
.textContainer{
    color : var(--off-white);
    width: 70vw;
    padding : 40px;
    height: max-content;
    position: absolute;
    left : 5%;
    top : 10%;
    letter-spacing: -1px;
}
h1{
    font-size: 100px;
    padding : 10px;
    line-height: 80%;
}
h2{
    font-size: 20px;
    padding: 15px;
}
.moreText{
    height: max-content;
    width: 50vw;
    color: var(--off-white);
    font-size: 20px;
    position: absolute;
    top: 60%;
    left: 5%; 
    padding: 55px;
}
