:root{
    --off-black : #18191b;
    --off-white : #efefef;
    --body-black : #24262b;
    --dark-blue : #090422;
    --magic-green : #003121;
    --black : #000;
    --primary-green : #44d2a2;
}
*{
    margin: 0;
    padding : 0;
}
.navBar{
    width: 100vw;
    height: 70px;
    display: block;
    background-color: var(--black);
    backdrop-filter: blur(0.8);
<<<<<<< HEAD
    margin-top: -18px;
=======
    position: absolute;
    top : 0;
    z-index : 1;
>>>>>>> 6fbca15bef617fe1e109649f8a6c460495e2448d
}
.navList{
    list-style-type: none;
    width: 100vw;
    margin: 0;
}
.link{
    text-decoration: none;
    color: var(--primary-green);
    padding: 20px;
    margin: 20px;
    font-size: 20px;
    text-align: center;
}
.link:hover{
    text-decoration: underline;
}
.left, .right{
    margin: 15px 0px;
    padding : 5px;
}
.left{
    float: left;
}
.right{
    float: right;
}
@media screen and (max-width : 500px){
    .link{
        font-size: 15px;
        margin : 10px 0px;
        text-align: center;
    }
}
